.footer {
    position: fixed;
    left: 16px;
    bottom: 10px;
    background: rgba(244, 239, 239, 0.979);
    padding: 16px 24px;
    border-radius: 10px;
    opacity: 0.95;
    backdrop-filter: blur(8px);
    width: calc(100% - 32px);
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }
  
  .footer-content {
    margin-bottom: 8px;
  }
  
  .footer span {
    font-size: 14px;
    color: rgb(8, 11, 13);
    opacity: 0.8;
  }
  
  .footer h4, .footer h5 {
    margin: 0;
    font-size: 1.1rem;
    color: #290303;
  }
  
  .footer h5 {
    font-weight: lighter;
  } 

  @media (max-width: 600px) {
    .footer {
      padding: 12px 18px;
      bottom: 10px;
      left: 10px;
      right: 10px;
      border-radius: 20px;
      max-width: 100%;
    }
  
    .footer h4 {
      font-size: 1rem;
    }
  
    .footer h5 {
      font-size: 0.9rem;
    }
  }
  